<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>webscraping</title>
</head>
<body>
    <h1>
        Output
    </h1>

    <h3>
        <%= x %> <br>
    </h3>
    
</body>
</html>





<!-- <html>
<body>
    <h1>details are:</h1>
    <form method="POST" action="/output">
    <table>

        <tr>
        <td>URL : </td>
        <td><input type="text" name="url" ></td>
        </tr>
        
        <tr>
        <td colspan="2"><button type="submit">Submit</button></td>
        </tr>
        
    </table>
    </form>   
   
</body>
</html> -->