<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>webscraping</title>
</head>
<body>
    <h1>Output:</h1>
   
    
<h3>
        <% for (const key in obj ){ %>
           <h3> <%= key %> :</h3>
           <% if(obj[key].length!=0) {%>
           <ol>
           
            <% for(let i=0; i<obj[key].length; i++ ){%>

            
               
                    <li>     <%=  obj[key][i] %>
                    
                    </li>
           
                <% }%>
               
           
           </ol>
           <% } %>
           <% if(obj[key].length==0) {%>
            <h3><%= "Not Found" %></h3>
            <% } %>
          
            
        <% } %>

</h3>    
</body>
</html>
